
$breakpoints:(
    xz:  0,
    xx:  400px,
    xm:  550px, 
    xs:  640px,
    xxs: 720px,
    sm:  950px,
    md:  1150px,
    lg:  1300px,
    xl:  1400px,
    hd:  1720px,
    1k:  1940px,
    2k:  2580px
);


// Max Width Responsive
@mixin BootstrapMaxWidthResponsive($point) {
       @media (max-width: (map-get($breakpoints, $point) - 1)) {
              @content
       }
}

//Min Width Responsive
@mixin BootstrapMinWidthResponsive($point) {
       @media (min-width: map-get($breakpoints, $point)) {
              @content
       }
}