//background-color
$bg-clr-1       :             #0c0c0c;


//text-color
$text-clr-1     :             #b3b3b3;
$text-clr-2     :             #e5e5e5;
$text-clr-3     :              #6d6d6d;


//border-color
$border-clr-1   :            #434243;


//box-shadow


//linear-gradient
