//background-color
$bg-clr-1       :             #0c0c0c;
$bg-clr-2       :             #626b5c;
$bg-clr-3       :             #181818;
$bg-clr-4       :             #2e2e2d;
$bg-clr-5       :             #363636;
$bg-clr-6       :             #2f2f2f;
$bg-clr-7       :             #141414;
$bg-clr-8       :             #646464;


//text-color
$text-clr-1     :             #b3b3b3;
$text-clr-2     :             #e5e5e5;
$text-clr-3     :             #6d6d6d;
$text-clr-4     :             #bcbcbc;
$text-clr-5     :             #777777;
$text-clr-6     :             #808080;

//border-color
$border-clr-1   :            #434243;


//box-shadow


//linear-gradient
