.modal{
    &::-webkit-scrollbar{
        background-color: $bg-clr-3;
        width: 12px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $bg-clr-4;
        
    }
    &-dialog{
        width: 900px;
        max-width: 900px;
        @include BootstrapMaxWidthResponsive(xl){
            width: 800px;
            max-width: 800px;
        } 
        @include BootstrapMaxWidthResponsive(md){
            width: 650px;
            max-width: 650px;
        } 
        @include BootstrapMaxWidthResponsive(xxs){
            width: 450px;
            max-width: 450px;
        } 
        .modal-content{
            width: 100%;
            background-color: transparent !important;
            .modal-body{
                padding: 0;
                width: 100%;
                    .popup-content{
                        width: 100%;
                        background-color: $bg-clr-3;       
                        transition: .4s all;
                        .popup-video{
                            height: 100%;
                           
                            video{
                                width: 100%;
                                height: 100%;
                            }
                          
                        }
                        .movie-info{
                            position: relative;
                            top: -188px;
                            z-index: 5;
                            padding-left: 40px;
                            display: flex;
                            flex-direction: column;
                            .top{
                                display: flex;
                                align-items: center;
                                span{
                                    font-size: 0.75rem !important;
                                    color: #fff;
                                }
                            }
                            .movie-name{
                            h2{
                                font-size: 1.5rem !important;
                                color: #fff;
                                @include BootstrapMaxWidthResponsive(xl){
                                    font-size: 1.25rem !important;
                                    
                                } 
                                @include BootstrapMaxWidthResponsive(md){
                                    font-size: 1rem !important;
                                    
                                } 
                                @include BootstrapMaxWidthResponsive(xxs){
                                    font-size: 0.9375rem !important; 
                                    
                                } 
                            }
                            }
                            .movie-buttons{
                                margin-top: 20px;
                                display: flex;
                                gap: 15px;
                                align-items: center;
                                a{
                                    padding: 11px 30px;  
                                    background-color: white;
                                    border-radius: 6px;
                                    color: black;
                                    font-size: 1.2rem;
                                    font-weight: 600;   
                                    @include BootstrapMaxWidthResponsive(xl){
                                        font-size: 1rem ;
                                        padding: 8px 20px;  
                                    } 
                                    @include BootstrapMaxWidthResponsive(md){
                                        font-size: 0.9375rem;
                                        padding: 6px 15px;  
                                    } 
                                    @include BootstrapMaxWidthResponsive(xxs){
                                        font-size: 0.875rem ; 
                                        padding: 3px 10px;  
                                    }  
                                    svg{
                                        margin-right: 15px;
                                        @include BootstrapMaxWidthResponsive(xl){
                                            padding: 2px;
                                            margin-right: 12px;
                                        } 
                                        @include BootstrapMaxWidthResponsive(md){
                                            padding: 4px;
                                            margin-right: 8px;
                                        } 
                                        @include BootstrapMaxWidthResponsive(xxs){
                                            padding: 5px;
                                            margin-right: 4px;
                                        }  
                                    } 
                                }
                                button{
                                    min-width: 47px;
                                    min-height: 47px;
                                    color: #fff;
                                    border-radius: 50%;
                                    background-color: rgba(42,42,42,.6);
                                    border: 2px solid hsla(0,0%,100%,.5);;
                                    padding: 3px;
                                    
                                    @include BootstrapMaxWidthResponsive(xl){
                                        min-width: 40px;
                                        min-height: 40px;
                                        max-width: 40px;
                                        max-height: 40px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    } 
                                    @include BootstrapMaxWidthResponsive(md){
                                        min-width: 35px;
                                        min-height: 35px;
                                        max-width: 35px;
                                        max-height: 35px;
                                        
                                    } 
                                    @include BootstrapMaxWidthResponsive(xxs){
                                        min-width: 30px;
                                        min-height: 30px;
                                        max-width: 30px;
                                        max-height: 30px;
                                    }  
                                    svg{
                                        @include BootstrapMaxWidthResponsive(xl){
                                            padding: 2px;
                                            
                                        } 
                                        @include BootstrapMaxWidthResponsive(md){
                                            padding: 4px;
                                            
                                        } 
                                        @include BootstrapMaxWidthResponsive(xxs){
                                            padding: 5px;
                                           
                                        }  
                                    }
                                    &:focus{
                                        outline:2px solid white;
                                    }
                                    &:hover{
                                        border: 2px solid white;
                                    }
                                }
                                &:has(.addList:not(:hover)) .addList .tooltips{
                                    display: none;
                                }
                                &:has(.addList:hover) .addList .tooltips{
                                    display: flex;
                                }
                                .addList{
                                   position: relative;
                                    .tooltips{         
                                        top: -85px;
                                        left: 0px;
                                        white-space: nowrap;
                                       .tooltip-info{                      
                                            background-color: white;
                                            color: #000;
                                            font-size: 1.2rem;
                                            font-weight: 600;
                                            padding: 10px;
                                            min-height: 40px;
                                            @include BootstrapMaxWidthResponsive(xl){
                                                font-size: 1rem;
                                                
                                            } 
                                            @include BootstrapMaxWidthResponsive(md){
                                                font-size: 0.9375rem ;
                                                
                                            } 
                                            @include BootstrapMaxWidthResponsive(xxs){
                                                font-size: 0.875rem ; 
                                                
                                            } 
                                            .tooltip-body{
                                               
                                                &::before{
                                                    top: 59px;
                                                    left: calc(43%);
                                                    transform: rotate(180deg);
                                                    border-bottom-color: white;
                                                }
                                                
                                            }
                                       }
                                    }
                                }
                                &:has(.like:not(:hover)) .like .tooltips{
                                    display: none;
                                }
                                &:has(.like:hover) .like .tooltips{
                                    display: flex;
                                }
                                .like{
                                    position: relative;
                                     .tooltips{         
                                        top: -32px;
                                        left: -5px;                                
                                        white-space: nowrap;
                                        @include BootstrapMaxWidthResponsive(xl){
                                            top: -37px;       
                                            margin-left: 12px;
                                        } 
                                       
                                        .tooltip-info{                      
                                            background-color: $bg-clr-4;
                                            color: white;
                                            font-size: 1.2rem;
                                            font-weight: 600;
                                            padding: 4px 6px;
                                            border-radius: 25px;
                                            @include BootstrapMaxWidthResponsive(xl){
                                                font-size: 1rem;
                                                
                                            } 
                                            @include BootstrapMaxWidthResponsive(md){
                                                font-size: 0.9375rem ;
                                                
                                            } 
                                            @include BootstrapMaxWidthResponsive(xxs){
                                                font-size: 0.875rem ; 
                                                
                                            } 
                                            .tooltip-body{
                                                display: flex;
                                                align-items: center;
                                                padding: 3px 5px;
                                                &::before{
                                                    content: none;
                                                } 
                                                .likee,.dislike{
                                                    margin-right: 20px !important;
                                                   
                                                }
                                                div{
                                                    padding: 6px;
                                                    border-radius: 50%;
                                                    &:hover{
                                                        background-color: $border-clr-1;
                                                    }
                                                }
                                                .likee,.dislike,.veryLike{
                                                    .tooltips{                       
                                                        top: -42px;           
                                                        white-space: nowrap;
                                                        border-radius: 5px;
                                                        background-color: white;
                                                        &:hover{
                                                            background-color: white;
                                                        }
                                                       .tooltip-info{                      
                                                            background-color: white;
                                                            color: #000;
                                                            font-size: 1.2rem;
                                                            font-weight: 600;
                                                            padding: 5px;
                                                            border-radius: 6px !important;
                                                            min-height: 28.5px;
                                                            @include BootstrapMaxWidthResponsive(xl){
                                                                font-size: 1rem;
                                                                
                                                            } 
                                                            @include BootstrapMaxWidthResponsive(md){
                                                                font-size: 0.9375rem ;
                                                                
                                                            } 
                                                            @include BootstrapMaxWidthResponsive(xxs){
                                                                font-size: 0.875rem ; 
                                                                
                                                            } 
                                                            .tooltip-body{
                                                                padding: 0 15px;
                                                                position: relative;
                                                                &::before{
                                                                    content: '';
                                                                    transform: rotate(180deg);
                                                                    border-bottom-color: white;
                                                                    top: 30px;
                                                                }
                                                                &:hover{
                                                                    background-color: inherit;
                                                                }
                                                                
                                                            }
                                                       }
                                                    }
                                                }
                                                &:has(.likee:not(:hover)) .likee .tooltips{
                                                    display: none;
                                                }
                                                &:has(.likee:hover) .likee .tooltips{
                                                    display: flex;
                                                }
                                                .likee{
                                                    .tooltips{                                                         
                                                        left: 7px;   
                                                       .tooltip-info{                                                                            
                                                            .tooltip-body{                                                           
                                                                &::before{
                                                                    content: '';
                                                                    top: 30px;
                                                                    left: 44%;                                                               
                                                                }    
                                                            }
                                                       }
                                                    }
                                                }
                                                &:has(.dislike:not(:hover)) .dislike .tooltips{
                                                    display: none;
                                                }
                                                &:has(.dislike:hover) .dislike .tooltips{
                                                    display: flex;
                                                }
                                                .dislike{
                                                    .tooltips{                                                             
                                                        left: 69px;                                                  
                                                       .tooltip-info{                                                                          
                                                            .tooltip-body{                                                           
                                                                &::before{
                                                                    content: '';                                                               
                                                                    left: 44%;                                                                
                                                                }    
                                                            }
                                                       }
                                                    }
                                                }
                                                &:has(.veryLike:not(:hover)) .veryLike .tooltips{
                                                    display: none;
                                                }
                                                &:has(.veryLike:hover) .veryLike .tooltips{
                                                    display: flex;
                                                }
                                                .veryLike{
                                                    .tooltips{                                                            
                                                        left: 132px;                                                  
                                                       .tooltip-info{                                                                              
                                                           .tooltip-body{                                                          
                                                                &::before{
                                                                    content: '';                                                             
                                                                    left: 44%;                                                               
                                                                }    
                                                            }
                                                       }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .close{
                                align-self: flex-end;
                                padding: 10px;
                                position: relative;
                                top: -453px;
                                @include BootstrapMaxWidthResponsive(xl){
                                    top: -392px;
                                } 
                                @include BootstrapMaxWidthResponsive(md){
                                    top: -295px;
                                } 
                                @include BootstrapMaxWidthResponsive(xxs){
                                    top: -171px;
                                } 
                                button{
                                    background-color: inherit;
                                    svg{
                                        color: $bg-clr-3;
                                        path:last-child{
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        .movie-detail{
                            display: flex;
                            position: relative;
                            bottom: 170px;
                            padding: 0 40px;
                            margin-top: 12px;
                            justify-content: space-between;
                            width: auto;
                            .left{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 6px;
                                .year{
                                    display: flex;
                                    align-items: center;
                                    p{
                                        color: $text-clr-4 ;
                                        margin-right: 8px;
                                        font-size: .9375rem;
                                        @include BootstrapMaxWidthResponsive(xl){
                                            font-size: 0.875rem;
                                            
                                        } 
                                        @include BootstrapMaxWidthResponsive(md){
                                            font-size: 0.75rem;
                                            
                                        } 
                                        @include BootstrapMaxWidthResponsive(xxs){
                                            font-size: 0.675rem;
                                            
                                        } 
                                        
                                    }
                                    span{
                                        font-size: 0.6875rem;
                                        padding: 0 5.6px;
                                        border: 1px solid hsla(0,0%,100%,.4);
                                        border-radius: 3px;
                                        color: rgba(255, 255, 255, 0.9);
                                    }
                                }
                                .age,.summary{
                                    color: #fff;
                                }
                                .age{
                                    font-size: 0.85rem;
                                    padding: 0 5.6px;
                                    line-height: 21px;
                                    border: 1px solid hsla(0,0%,100%,.4);
                                    margin-bottom: 12px;
                                    @include BootstrapMaxWidthResponsive(xl){
                                        font-size: 0.75rem;
                                        
                                    } 
                                    @include BootstrapMaxWidthResponsive(md){
                                        font-size:  0.675rem;
                                        
                                    } 
                                   
                                }
                                .summary{ 
                                    font-size: 1rem;
                                    line-height: 26px;
                                    @include BootstrapMaxWidthResponsive(xl){
                                        font-size: 0.9375rem;
                                        line-height: 22px;
                                    } 
                                    @include BootstrapMaxWidthResponsive(md){
                                        font-size: 0.875rem;
                                        line-height: 20px;
                                    } 
                                    @include BootstrapMaxWidthResponsive(xxs){
                                        font-size: 0.75rem;
                                        line-height: 19px;
                                        margin-right: 17px;
                                    } 
                                }
                            }
                            .right{
                                width: 25%;
                                @include BootstrapMaxWidthResponsive(md){
                                    width: 36%;
                                } 
                                @include BootstrapMaxWidthResponsive(xxs){
                                    width: 76%;
                                } 
                               .info{
                                margin-bottom: 12px;
                                p{
                                    color: #fff;
                                    font-size: 0.875rem;
                                    line-height: 20px;
                                    @include BootstrapMaxWidthResponsive(xl){
                                        font-size: 0.8125rem;
                                        line-height: 22px;
                                    } 
                                    @include BootstrapMaxWidthResponsive(md){
                                        font-size: 0.75rem;
                                        line-height: 20px;
                                    } 
                                    @include BootstrapMaxWidthResponsive(xxs){
                                        font-size: 0.675rem;
                                        line-height: 19px;
                                    } 
                                    span{
                                        color: $text-clr-5;
                                    }
                                }
                               } 
                            }
                        }
                        .actor-collection,.collection{
                            padding: 0 40px;
                            position: relative;
                            bottom: 120px;
                            p{
                                font-size: 1.5rem;
                                font-weight: 600;
                                line-height: 30px;
                                color: white;
                                margin-bottom: 15px;
                                @include BootstrapMaxWidthResponsive(xl){
                                    font-size: 1.25rem;
                                    
                                } 
                                @include BootstrapMaxWidthResponsive(md){
                                    font-size: 1rem;
                                    
                                } 
                                @include BootstrapMaxWidthResponsive(xxs){
                                    font-size: 0.9375rem ; 
                                    
                                } 
                            }
                        }
                        .collection{
                            margin-top: 60px;
                            position: relative;
                            z-index: 12;
                            .more-movie{
                                width: 100%;
                                margin-top: -20px;
                                position: relative;
                                z-index: 13;
                                background-image: linear-gradient(0deg,#181818 0,hsl(0,0%,9%) 20%,hsla(0,0%,9%,.7) 30%,transparent 100%);
                                button{
                                    padding: 3px;
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    background-color: rgba(42,42,42,.6);
                                    border: 2px solid hsla(0,0%,100%,.5);
                                    color: white;
                                    margin: auto;   
                                    position: relative;
                                    z-index: 2;
                                }
                                &::before{
                                    content: '';
                                    width: 100%;
                                    height: 2px;
                                    background-color: #404040;
                                    position: absolute;
                                    top: 19px;
                                    z-index: 1;
                                    
                                }
                            }
                            .more-movie[data-mrgn="true"]{
                                margin-top: 40px !important;
                            }
                        }
                        .more-movie{
                            width: 100%;
                            margin-top: -20px;
                            position: relative;
                            z-index: 13;
                            background-image: linear-gradient(0deg,#181818 0,hsl(0,0%,9%) 20%,hsla(0,0%,9%,.7) 30%,transparent 100%);
                            button{
                                padding: 3px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                background-color: rgba(42,42,42,.6);
                                border: 2px solid hsla(0,0%,100%,.5);
                                color: white;
                                margin: auto;   
                                position: relative;
                                z-index: 2;
                            }
                            &::before{
                                content: '';
                                width: 100%;
                                height: 2px;
                                background-color: #404040;
                                position: absolute;
                                top: 19px;
                                z-index: 1;
                                
                            }
                        }
                        .movies{
                            display: grid;
                            grid-template-columns: repeat(3,1fr);
                            gap: 20px;
                            position: relative;
                            z-index: 10;
                            @include BootstrapMaxWidthResponsive(md){
                                grid-template-columns: repeat(2,1fr);
                                
                            } 
                            @include BootstrapMaxWidthResponsive(xxs){
                                grid-template-columns: repeat(1,1fr);
                                
                            } 
                            &:has(.movies-card:not(:hover)).movies-card .top .play{
                                display: none
                            }
                            &:has(.movies-card:hover).movies-card .top .play{
                                display: inline-block;
                            }
                            &-card{
                                width: 100%;
                                height: 100%;
                                background-color: $bg-clr-6 ;
                                border-radius: 6px;
                                &:hover{
                                    cursor: pointer;
                                }
                                &:hover .top .play{
                                    display: inline-block;
                                }
                               
                                .top{
                                    position: relative;
                                    
                                    img{     
                                        width: 100%;
                                        height: 160px;
                                        border-top-left-radius: 6px;
                                        border-top-right-radius: 6px;
                                    }
                                    span,p{
                                        position: absolute;
                                    }
                                    span{         
                                        top: 10px;
                                        right: 10px;
                                        color: white;
                                        font-size: 0.875rem;
                                        @include BootstrapMaxWidthResponsive(xl){
                                            font-size: 0.8215;
                                            
                                        } 
                                        @include BootstrapMaxWidthResponsive(md){
                                            font-size: 0.75rem ;
                                            
                                        } 
                                       
                                    }
                                    p{
                                        bottom: -3px;
                                        left: 18px;
                                        color: white;
                                        font-size: 0.9375rem;
                                        @include BootstrapMaxWidthResponsive(xl){
                                            font-size: 0.875rem;
                                            
                                        } 
                                        @include BootstrapMaxWidthResponsive(md){
                                            font-size: 0.8215;
                                            
                                        } 
                                       
                                    }
                                    .play{  
                                        display: none;
                                        position: absolute;
                                        top: 50%;
                                        right: 50%;
                                        transform: translate(50%,-50%);
                                        color: #fff;
                                        background-color: rgba(30,30,20,.5);
                                        text-align: center;
                                        padding: 5px;
                                        border-radius: 50%;
                                        border: 1px solid #fff;
                                        padding: 10px;
                                    }
                                  
                                }
                                .content{
                                    padding: 5px 18px;
                                    margin-top: 10px;
                                    span,p{
                                        color: $text-clr-4;
                                        display: inline-block;
                                        font-size: 0.9375rem;
                                        @include BootstrapMaxWidthResponsive(xl){
                                            font-size: 0.875rem;
                                            
                                        } 
                                        @include BootstrapMaxWidthResponsive(md){
                                            font-size: 0.8215;
                                            
                                        } 
                                    }
                                    span:first-child{
                                        padding: 2px;
                                        margin-right: 6px;
                                        border: 1px solid rgba(255, 255, 255, 0.4);   
                                    }
                                    p{
                                        padding: 14px 0;
                                        line-height: 21px;
                                    }
                                   
                                }
                            }
                        }
                        .movie-about{
                            padding: 0 40px;
                            position: relative;
                            top: -60px;
                            h4{
                                color: #fff;
                                font-size: 1.5rem;
                                margin-bottom: 25px;
                                @include BootstrapMaxWidthResponsive(xl){
                                    font-size: 1.25rem;
                                    
                                } 
                                @include BootstrapMaxWidthResponsive(md){
                                    font-size: 1rem ;
                                    
                                } 
                                @include BootstrapMaxWidthResponsive(xxs){
                                    font-size: 0.9375rem ; 
                                    
                                } 
                            }
                            p{
                                color: #fff;
                                font-size: 0.875rem;
                                margin: 10px 0;
                                line-height: 20px;
                                @include BootstrapMaxWidthResponsive(xl){
                                    font-size: 0.825;
                                    
                                } 
                                @include BootstrapMaxWidthResponsive(md){
                                    font-size: 0.75rem ;
                                    
                                } 
                                @include BootstrapMaxWidthResponsive(xxs){
                                    font-size: 0.675rem ; 
                                    
                                } 
                                span{
                                    color: $text-clr-5;
                                }
                                span:nth-child(2){
                                    color: #fff;
                                    border: 1px solid hsla(0, 0%, 100%, 0.4);
                                    padding: 1.5px 4px;
                                    margin: 0 12px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                
            }
        }
    }
}